.wrapper {
  background-color: rgb(238, 246, 250);
  font-family: sans-serif;
  padding: 20px;
}

.display_routes {
  text-align: left;
  padding: 15px 0px;
  font-size: 14px;
  color: rgb(117, 117, 117);
}

.category_wrapper {
  background-color: white;
  width: 25%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.products_wrapper {
  background-color: white;
  width: 73%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-top: 5px;
}

.flex_filter-products {
  justify-content: space-between;
}

.Heading {
  border-bottom: solid 0.5px rgb(202, 195, 195);
  padding: 12px;
  text-align: left;
}

.category_name {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0px;
}

.subCategory {
  color: rgb(117, 117, 117);
  border: solid 0.5px;
  border-radius: 3px;
  font-size: 13px;
  margin-right: 5px;
  padding: 5px;
}

.sort {
  /* border: solid red; */
  width: 50%;
  justify-content: space-evenly;
  font-size: 13px;
  color: rgb(117, 117, 117);
  cursor: pointer;
}

.total-products {
  font-size: 13px;
  color: rgb(53, 53, 53);
}

.sort-cat:hover {
  color: rgb(36, 163, 181);
}

.prod-sort {
  justify-content: space-between;
  margin-top: 15px;
}

.sort-select {
  color: rgb(36, 163, 181);
  border-bottom: solid rgb(36, 163, 181);
}
