body {
    background-color: #eff7fa;
   }
   img:hover {
    cursor: pointer;
  }
   /* home first part */
   .just_after_navbar_section{
    display: flex;
    gap: 20px;
    height: 400px;
    width: 99%;
    margin: auto;
    margin-top: 3%;
  }
  .sliding_after_navbar_section{
    flex: 4;
    height: 390px;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
  }
  .sliding_images_navbar_section{
    height: 330px;
  }
  .sliding_images_navbar_section{
    cursor: pointer;
    background-image: url("https://cdn.shopclues.com/images/banners/HB4_FashionSaturday_Web_sk_22Jan22.jpg");
    background-size: 100% 100%;
    animation: slider 12s infinite linear;
  }
  
  @keyframes slider {
    0% {
      background-image: url("https://cdn.shopclues.com/images/banners/2023/Jan/19/HB1_Refurb_Web_SYM_19Jan23.jpg");
      
    }
    20% {
      background-image: url("https://cdn.shopclues.com/images/banners/2023/Jan/20/HB2_Blockbuster_Web_SYM_20Jan23.jpg");
    }
    40% {
      background-image: url("https://cdn.shopclues.com/images/banners/2023/Jan/20/HB3_Prebuzz_Web_SYM_20Jan23.jpg");
    }
    60% {
      background-image: url("https://cdn.shopclues.com/images/banners/2023/Jan/19/JMAX_HB2_Web_Riya_19Jan22.jpg");
    }
    80% {
      background-image: url("https://cdn.shopclues.com/images/banners/2023/Jan/11/ShopcluesPCRefresh_Web_SYM_11Jan23.jpg");
    }
  }
  
  .sliding_images_name_navbar_section{
    display: flex;
    background-color: white;
  }
  .sliding_images_name_navbar_section div {
    width: 210px;
    height: 70px;
  }
  .sliding_images_name_navbar_section p {
    margin-top: 25px;
    text-align: center;
    font-size: 14px;
    line-height: 10px;
    color: gray;
    font-weight: 500;
  }
  
  .sliding_images_name_navbar_section p:hover {
    color: #24a3b5;
    cursor: pointer;
  }
  
  .after_nav_secondpart{
    flex: 1;
    /* border: 2px solid red; */
    margin-right: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
  }
  .after_nav_secondpart img{
    width: 80%;
    height: 126px;
  }
  .single_line_navbar_section{
    height: 2px;
    background-color: #eff7fa;
  }

/* home 2nd part */
  .home_six_div_part{
    margin-top: 1%;
    border: 1px solid transparent;
  }
  
  .home_first_three_inside_three{
    margin: 15px;
    height: 118px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  .home_first_three_inside_three img {
    width: 100%;
    height: 100%;
  }
  .home_first_three_inside_three img:hover,.home_second_three_inside_three img:hover {
    opacity: 60%;
  }
  
  .home_second_three_inside_three{
    display: flex;
    height: 118px;
    margin: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  .home_second_three_inside_three img {
    width: 100%;
    height: 100%;
  }
  .home_single_vertical_line{
    width: 3px;
    background-color: #eff7fa;
  }


  /* item stores all */
  .home_items_section_all>h1 {
    font-weight: 500;
    font-size: 20px;
    color: #212121;
    margin-left: -70rem;
    margin-top: 20px;
  }

  .item_home_div_all{
    margin: 20px 10px 0px 10px;
    height: 330px;
    display: flex;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    /* overflow: scroll; */
  }

  

  .item_home_div_all img {
    width: 145px;
    margin-top: 25px;
  }
  .item_home_div_all h6 {
    font-weight: 400;
    font-size: 14px;
    color: #757575;
    margin-left: 10px;
    margin-top: 10px;
  }
/* scroller start*/
  .home_gadgets_store{
    width: 100%;
  display: flex;
  /* margin-left: 20px; */
  flex-direction: row;
  overflow-x: scroll;
  /* position: relative; */
  scroll-behavior: smooth;
  }
  .home_gadgets_store::-webkit-scrollbar{
    display: none;
  }
  /* .home_gadgets_childdiv{
    width: 20%;
  } */
.home_arrow_btn{
  /* width: 25px;
  height: 25px; */
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 0.8; */
  cursor: pointer;
  z-index: 999;
}
.home_arrow_btn img{
  width: 10%;
  height: 10%;
}
.home_left_icon{
  left: 10px;
  top: 40px;
}
.home_right_icon{
margin-right: 10px;
  top: 40px;
}

.item_home_div_all_gadget{
  margin: 20px 10px 0px 10px;
  height: 330px;
  display: flex;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  /* overflow: scroll; */
}
/* .item_home_div_all_gadget div {
  width: 80%;
} */
.item_home_div_all_gadget h6 {
  font-weight: 400;
  font-size: 14px;
  color: #757575;
  margin-left: 10px;
  margin-top: 10px;
}
.home_gadgets_store_gadget{
  width: 100%;
display: flex;
/* margin-left: 20px; */
flex-direction: row;
overflow-x: scroll;
/* position: relative; */
scroll-behavior: smooth;
}
.home_gadgets_store_gadget::-webkit-scrollbar{
  display: none;
}
.home_price_div_gadget{
  display: flex;
    margin-top: 8px;
}
.home_price_div_gadget p:nth-child(1){
  font-size: 14px;
  line-height: 0px;
  color: #757575;
  text-decoration: line-through;
  margin-top:10px;
}
.home_price_div_gadget p:nth-child(2) {
  font-weight: 500;
  font-size: 16px;
  line-height: 0px;
  color: black;
  margin-top:10px;
  margin-left: 30px;
}
.home_discount_price_divplus_gadget{
  color: #24a3b5;
    font-weight: 500;
    margin-top: 10px;
    margin-left: -50px;
}
/* scroller end */
.home_gadgets_childdiv:hover{
  border: 1px solid #24a3b5;
  height: 328px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
  /* .home_gadgets_store img{
    margin-left: -30px;
 
  } */

  /* .home_gadgets_store img{
    margin-left: 10px;
  } */
  .home_nameofpro_part{
    margin-left: -4.5px;
  }

  .home_price_div{
    display: flex;
    margin-top: 8px;
  }

  .home_price_div p:nth-child(1){
    font-size: 14px;
    line-height: 0px;
    color: #757575;
    text-decoration: line-through;
    margin-top:10px;
  }
  .home_price_div p:nth-child(2) {
    font-weight: 500;
    font-size: 16px;
    line-height: 0px;
    color: black;
    margin-top:10px;
    margin-left: 30px;
  }
  .home_discount_price_divplus{
    color: #24a3b5;
    font-weight: 500;
    margin-top: 10px;
  }
.home_deals_price_p{
  margin-left: 10px;
}
.home_deals_price_plus{
  margin-left: -80px;
}
.daily_essentials_p_home{
  font-weight: 500;
    font-size: 16px;
    line-height: 0px;
    color: black;
    margin-top:10px;
    margin-left: 10px;
}
#home_daily_essential_childdiv{
  margin-left: 4%;
}

#home_daily_essential_childdiv img{
  height: 160px;
}